body{

	background: linear-gradient(45deg,#b7d6c7,#ffe2d1);
	background-size: 400% 400%;
	animation: cambiar 8s ease-in-out infinite;
}

@keyframes cambiar{
	0%{background-position: 0 50%;}
	50%{background-position: 100% 50%;}
	100%{background-position: 0 50%;}
}

body{
	padding: 0px;
    margin: 0px;
    font-family: Poppins, system-ui, sans-serif;
	background-color: #22242C;
	color:  #F0F1F7;
}

header {
    width: 100%;
    height: 70px;
}

.link-a-header{
	display: inline;
	position: absolute;
	float: left;
	padding: 20px;
	width: 40px;
	margin: 0 auto;
	text-align: center;
}

.logo-header{
	width: 30px;
	height: 30px;
}

nav{
	float: right;
	padding: 20px;
	text-align: right;
}

.ingreso{
	cursor: pointer;
	color: #22242C;
	text-decoration: none;
	margin-right: 20px;
	font-weight: 600;
}

.boton-login{
	font-size: 0.875rem;
	font-weight: 500;
	padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    border-radius: 0.375em;
    background:#FFA526;
    color: #16181D;
    width: auto;
    cursor: pointer;
    border: 0px;
    outline: 0px;
    font-family: Poppins, system-ui, sans-serif;
}

.boton-login a{
	text-decoration: none;
	color: #16181D;
}

main{
	margin: 20px 0 0 0;
	width: 100%;
	height: 100%;
}

.login-cont{
	height: 500px;
	width: 320px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0;
}

.avatar{
	margin-top: 50px;
	width: 50px;
	height: 50px;
}

h5{
	color:  white;
	margin: 0;
	text-align: center;
	font-size: 1.125rem;
	display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em; 
}


.introducir {
	margin-bottom: 20px;
    font-size: 0.875rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    border-radius: 9px;
    background: #16181D;
    color: #878FA6;
    box-shadow: rgb(240 241 247 / 5%) 0px 0px 0px 1px;
    width: 100%;
    align-self: start;
    font-family: Poppins, system-ui, sans-serif;
}



.input-int{
	text-decoration: none;
	align-content: center;
	text-align: left;
	outline: 0;
	width: 90%;
	border: 0;
	background: #16181D;
	color: #878FA6;
	font-family: Poppins, system-ui, sans-serif;
}

span{
	font-size: 0.75rem;
    font-weight: 500;
    color: #484B5C;
    margin-top: -24px;
    float: left;
}

.boton-registrar {
	border-radius: 0.375em;
    background: #FFA526;
    color: #16181D;
    box-shadow: rgb(22 23 29 / 75%) 0px 18px 24px -11px, rgb(143 116 36 / 25%) 0px 0px 0px 1px inset;
    user-select: none;
    width: auto;
    margin-top: 40px;

}

.iniciarahora{
	border-radius: 0.375em;
	padding: 0.75rem 2rem;
    text-align: center;
    width: 100%;
    text-decoration: none;
    border: 0px;
    background: #FFA526;
    font-family: Poppins, system-ui, sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.linkend{
	display: inline-block;
	margin-top: 20px;
	cursor: pointer;
	font-weight: 500;
    font-size:0.75rem;
    color: #878FA6;
    justify-self: center;
}
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Securit